html, body {height: 100%; font-family: Arial, Helvetica, sans-serif;
    background: #111 url(/static/img/background.jpg) repeat top left;}
#add-form-div {text-align: center; margin-top: 30px;}
#add-form {width: 100%;}
#button-container {margin-top: 50px;}
#header {font-size: 54px; text-align: center; margin-top: 30px;}
#sub-header {font-size: 16px; text-align: center; color: #a9a9a9; margin-top: 0;}
#letter-a {color: #a9a9a9; margin-right: 10px;}
#letter-href {color: white;}
#letter-dot {color: #b22222;}
#letter-ws {color: #a9a9a9;}

#add-url-text {
    width: 70%;
    height: 50px;
    font-size: 30px;
    padding: 0 7px;
    border-radius: 5px;
    border: none;
    box-shadow:inset 0 0 3px #808080;
}

#add-url-text:focus {
    outline:none;
    box-shadow:inset 0 0 10px #696969;
}

#submit-button {
    width: 200px;
    height: 50px;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 2px 2px rgba(0,0,0,.3);
    box-shadow: 1px 1px 4px rgba(0,0,0,.3);

    color: #fef4e9;
    background: #04C;
    background: -webkit-gradient(linear, left top, left bottom, from(#08C), to(#04C));
    background: -moz-linear-gradient(top,  #08C,  #04C);
    background: linear-gradient(top, #08C, #04C);
}

#submit-button:hover {
    background: #0088CC;
    *background: #0088CC;
}

#submit-button:active {
    background: #003bb3;
    *background: #003bb3;
}