<!DOCTYPE html>
<html lang="en">
<head>
    <title>ahref.ws</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    {% block js %}{% endblock %}
</head>
<body>
<a href="https://github.com/AyumuKasuga/ahref.ws"><img style="position: absolute; top: 0; left: 0; border: 0;" src="/static/img/forkme.png" alt="Fork me on GitHub"></a>
{% block content %}{% endblock %}
<div id="footer"></div>
</body>
</html>