{% extends 'base.html' %}

{% block js %}
<script src="/static/js/addurl.js"></script>
{% endblock %}

{% block content %}
    <div id="header">
        <span id="letter-a">A</span><span id="letter-href">HREF</span><span id="letter-dot">.</span><span id="letter-ws">WS</span>
    </div>
    <div id="sub-header">Link shorter</div>
    <div id="add-form-container">
        <div id="add-form-div">
            <form id="add-form">
                <div id="input-container">
                    <input name="url" id="add-url-text" type="text" spellcheck="false" autocomplete="off" placeholder="URL">
                </div>
                <div id="url-info"></div>
                <div id="button-container">
                    <button id="submit-button" type="submit">Short!</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}